<ul class="latest-content">
{{#latestContentItem}}
  <li>
    <article class="node-7 node node-blog-post node--listing node--listing--blog_post clearfix">
      <a href="{{ url }}">{{#thumb}}<img src="{{ thumb }}" alt="" />{{/thumb}}<span>{{ title }}</span></a>
    </article>
  </li>
{{/latestContentItem}}  
</ul>