<ul class="event-list event-list--tall">
  <li>
    <article class="node-44 node node-event node--listing node--listing--event clearfix">
      <a href="#">
        <div class="event-date"><span>09</span>JAN</div>
        <div class="event-details">
          <h4>Vance Joy</h4>

          <div class="event-location">- Showbox Market</div>
        </div>
        <div class="clear"></div>
      </a>
    </article>
  </li>
  <li>
    <article class="node-44 node node-event node--listing node--listing--event clearfix">
      <a href="#">
        <div class="event-date"><span>26</span>FEB</div>
        <div class="event-details">
          <h4>Elvis Costello</h4>

          <div class="event-location">- Paramount</div>
        </div>
        <div class="clear"></div>
      </a>
    </article>
  </li>
  <li>
    <article class="node-44 node node-event node--listing node--listing--event clearfix">
      <a href="#">
        <div class="event-date"><span>12</span>MAR</div>
        <div class="event-details">
          <h4>Foo Fighters</h4>
          <div class="event-location">- The Gorge Amphitheatre</div>
        </div>
        <div class="clear"></div>
      </a>
    </article>
  </li>
  <li>
    <article class="node-44 node node-event node--listing node--listing--event clearfix">
      <a href="#">
        <div class="event-date"><span>09</span>APR</div>
        <div class="event-details">
          <h4>Jack Johnson</h4>

          <div class="event-location">- Showbox Market</div>
        </div>
        <div class="clear"></div>
      </a>
    </article>
  </li>
  <li>
    <article class="node-44 node node-event node--listing node--listing--event clearfix">
      <a href="#">
        <div class="event-date"><span>26</span>MAY</div>
        <div class="event-details">
          <h4>Elvis Costello</h4>

          <div class="event-location">- Paramount</div>
        </div>
        <div class="clear"></div>
      </a>
    </article>
  </li>
  <li>
    <article class="node-44 node node-event node--listing node--listing--event clearfix">
      <a href="#">
        <div class="event-date"><span>12</span>JUN</div>
        <div class="event-details">
          <h4>Foo Fighters</h4>
          <div class="event-location">- The Gorge Amphitheatre</div>
        </div>
        <div class="clear"></div>
      </a>
    </article>
  </li>
  <li>
    <article class="node-44 node node-event node--listing node--listing--event clearfix">
      <a href="#">
        <div class="event-date"><span>09</span>JUL</div>
        <div class="event-details">
          <h4>Vance Joy</h4>

          <div class="event-location">- Showbox Market</div>
        </div>
        <div class="clear"></div>
      </a>
    </article>
  </li>
  <li>
    <article class="node-44 node node-event node--listing node--listing--event clearfix">
      <a href="#">
        <div class="event-date"><span>26</span>AUG</div>
        <div class="event-details">
          <h4>Elvis Costello</h4>

          <div class="event-location">- Paramount</div>
        </div>
        <div class="clear"></div>
      </a>
    </article>
  </li>
  <li>
    <article class="node-44 node node-event node--listing node--listing--event clearfix">
      <a href="#">
        <div class="event-date"><span>12</span>SEP</div>
        <div class="event-details">
          <h4>Foo Fighters</h4>
          <div class="event-location">- The Gorge Amphitheatre</div>
        </div>
        <div class="clear"></div>
      </a>
    </article>
  </li>
</ul>