<div class="panel-pane pane-views-panes pane-schedule-on-air-panel-pane-schedule-on-air">
  <h4 class="pane-title">On Air Now</h4>
  <div class="pane-content">
    <div class="view view-schedule-on-air view-id-schedule_on_air view-display-id-panel_pane_schedule_on_air view-dom-id-c4540b136cb79d9eeaffdc8256e398b7">
      <div class="view-content">
        <div class="grouping-section">
          <div class="grouping-section-item views-row views-row-1 views-row-odd views-row-first views-row-last widget widget-onAirNow">
            <div class="views-field views-field-field-date-programming">
              <div class="field-content">
                <a href="/content/manley-0"><img class="on-air-now-thumbnail--133x133-" typeof="foaf:Image" src="../../../../assets/images/pepperthumb.jpg"></a>
                <div class="widget-onAirNow-details">
                  <div class="show-ref"><a href="">Locals Only</a></div>
                  <div class="show-time">
                    <div class="date-repeat-instance">
                      <span class="date-display-single"><span class="date-display-start">11:00pm</span> to <span class="date-display-end">12:00am</span></span>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="view-footer">
        <a href="/schedule" class="page-manager-schedule">View Full Schedule</a>
      </div>
    </div>
  </div>
</div>