<div class="panel-pane">
  <div class="widget widget-twitterEmbed">
    <h3><a href="">@manchild1077</a></h3>
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/manchild1077" data-widget-id="597902203458686976">Tweets by @manchild1077</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>