<div class="panel-pane">
  <h4 class="pane-title">{{ latestContentTitle }}</h4>
  <div class="widget widget-latestContent widget-latestContent--thumb">
    {{#latestContentItemThumb}}
      {{> atoms-latest-content}}
    {{/latestContentItemThumb}}
  </div>
</div>