<div class="panel-pane">
  <h4 class="pane-title">{{ latestContentTitle }}</h4>
  <div class="widget widget-latestContent widget-latestContent--tall widget-latestContent--thumb">
    {{#latestContentItemThumbTall}}
      {{> atoms-latest-content}}
    {{/latestContentItemThumbTall}}
  </div>
</div>