<div class="panel-pane">
  <div class="widget widget-upcomingEvents widget-upcomingEvents--tall">
    {{> atoms-event-list-tall}}
  </div>
  <a href="#" class="view-more-events">View More Events</a>
</div>
