<p class="font-primary">Primary font: Roboto Condensed;</p>
<p class="font-primary"><em>Primary font italic: Roboto Condensed;</em></p>
<p class="font-primary"><strong>Primary font bold: Roboto Condensed;</strong></p>
<br/>
<p class="font-secondary">Secondary font: Lobster;</p>
<p class="font-secondary"><em>Secondary font italic: Lobster;</em></p>
<p class="font-secondary"><strong>Secondary font bold: Lobster;</strong></p>

<br/>
<p class="font-tertiary">Tertiary font: Francois One;</p>
<p class="font-tertiary"><em>Tertiary font italic: Francois One;</em></p>
<p class="font-tertiary"><strong>Tertiary font bold: Francois One;</strong></p>

<br/>
<p class="font-quaternary">Quaternary font: Enriquetta;</p>
<p class="font-quaternary"><em>Quaternary font italic: Enriquetta;</em></p>
<p class="font-quaternary"><strong>Quaternary font bold: Enriquetta;</strong></p>
