<div class="simple-social-share">
  <a href="#"><img src="../../../../assets/images/trans-facebook.png" alt="Share on Facebook" /></a><a href="#"><img src="../../../../assets/images/trans-twitter.png" alt="Share on Twitter" /></a>
</div>