<a href="" class="btn btn--error btn--small">Error / Small Button</a><br />
<a href="" class="btn btn--warning">Warning / Normal Button</a><br />
<a href="" class="btn btn--status btn--large">Status / Large Button</a><br />
<a href="" class="btn btn--primary btn--xlarge">Primary / X-Large Button</a>