<div class="panel-pane pane-entity-field pane-node-field-tags">
  <div class="field field-name-field-tags field-name-opencalais-socialtags-tags field-type-taxonomy-term-reference field-label-above">
    <div class="field-label">Tags:&nbsp;</div>
    <div class="field-items">
      {{#articleTags.items}}
        <div class="field-item">{{ title }}</div>
      {{/articleTags.items}}
    </div>
  </div>
</div>