<div class="media-youtube-video panopoly-image-video media-element file-default media-youtube-1">
  <iframe class="media-youtube-player" width="640" height="390" title="{{ youTube.title }}" src="//www.youtube.com/embed/{{  youTube.videoId }}?wmode=opaque&amp;modestbranding=1" frameborder="0" allowfullscreen="">{{ youTube.title }}</iframe></div>