<div class="site-header-top">
  <div class="site-header-top-inner container">
    {{> atoms-mobile-menu-button }}
    {{> atoms-logo-top}}
    {{> molecules-top-nav}}
    {{> molecules-top-nav-search-mobile}}
    {{> atoms-listen-live-button}}
    {{> molecules-tune-genie-inline}}
  </div>
</div>