<div class="site-header-top-large" data-fixed="false">
  <div class="site-header-top-large-inner">
    <div class="inner-header-top">
      <div class="container">
        {{> atoms-logo}}
        <div class="listen-live-area">
          {{> molecules-tune-genie-inline}}{{> atoms-listen-live-button}}
          {{> molecules-listen-live-list}}
        </div>
      </div>
    </div>
    <div class="inner-header-bottom">
      <div class="container">
        {{> atoms-mobile-menu-button}}
        {{> atoms-logo-small}}
        {{> molecules-top-nav}}
        <div class="header-social">
          {{> molecules-social-icons}}
        </div>
        {{> molecules-top-nav-search-mobile}}
        {{> atoms-listen-live-button}}
        {{> molecules-tune-genie-inline}}
        {{> molecules-nav-loyalty-club}}
      </div>
    </div>
  </div>
</div>