<nav id="nav" class="nav">
	<ul class="nav-list">
		<li class="current"><a href="{{ url }}">EndSessions</a></li>
		<li><a href="{{ url }}">Shows</a></li>
		<li><a href="{{ url }}">Read</a></li>
		<li><a href="{{ url }}">Watch</a></li>
		<li><a href="{{ url }}">Listen</a></li>
		<li><a href="{{ url }}">Events</a></li>
		<li><a href="{{ url }}">Contests</a></li>
		<li><a href="{{ url }}">EndMail</a></li>
		<li><a href="{{ url }}">New Music</a></li>
	</ul>
</nav>
<select id="nav-mobile">
    <option value="Shows">Shows</option>
    <option value="Read">Read</option>
    <option value="Watch">Watch</option>
    <option value="Listen">Listen</option>
    <option value="Events">Events</option>
    <option value="Contests">Contests</option>
    <option value="EndMail">EndMail</option>
    <option value="New Music">New Music</option>
</select>