<div class="block-menu-menu-footer-menu">
  <div class="content">
    <ul class="menu nav">
      <li>
        <a href="#">Shows</a>
        <ul class="menu nav">
          <li><a href="#">GregR</a></li>
          <li><a href="#">Pepper</a></li>
          <li><a href="#">Manley</a></li>
          <li><a href="#">Garett</a></li>
          <li><a href="#">Shows</a></li>
          <li><a href="#">Schedule</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Read</a>
        <ul class="menu nav">
          <li><a href="#">Live Music Blog</a></li>
          <li><a href="#">End Music Discovery</a></li>
          <li><a href="#">Gimme 5 @ 5</a></li>
          <li><a href="#">locals only</a></li>
          <li><a href="#">Beginning of the End</a></li>
          <li><a href="#">1Thing</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Watch</a>
        <ul class="menu nav">
          <li><a href="#">End HDTV</a></li>
          <li><a href="#">Photo Gallery</a></li>
          <li><a href="#">Nerd Talk</a></li>
          <li><a href="#">MTV Real World</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Listen</a>
        <ul class="menu nav">
          <li><a href="#">Listen Live</a></li>
          <li><a href="#">Latest Audio</a></li>
          <li><a href="#">Listen On Your Mobile</a></li>
        </ul>
      </li>
      <!--<li>
				<a href="#">Events</a>
				<ul class="menu nav">
					<li><a href="#">concerts</a></li>
					<li><a href="#">where it's at</a></li>
					<li><a href="#">taco truck challenge</a></li>
					<li><a href="#">summer camp</a></li>
					<li><a href="#">deck the hall ball</a></li>
					<li><a href="#">concerts 4 a cause</a></li>
					<li><a href="#">endfest</a></li>
					<li><a href="#">club links</a></li>
				</ul>
			</li>-->
      <li>
        <a href="#">EndMail</a>
        <ul class="menu nav">
          <li><a href="#">EndMail</a></li>
          <li><a href="#">Contact Info</a></li>
          <li><a href="#">Station Advertising</a></li>
          <li><a href="#">Get End Text Alerts</a></li>
          <li><a href="#">Directions</a></li>
          <li><a href="#">End Perks</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">1Thing</a></li>
          <li><a href="#">Zero Emission Studio</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Legal</a>
        <ul class="menu nav">
          <li><a href="#">Careers</a></li>
          <li><a href="#">EEO Public Files</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Contest Rules</a></li>
          <li><a href="#">Copyright Notice</a></li>
          <li><a href="#">Music Submission Policy</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>