<div class="block-menu-menu-tertiary block block-menu">
  <div class="content">
    <ul class="menu nav">
      <li class="first leaf"><a href="http://join-the-club-blah-blah-blah.com" class="fa fa-envelope">Join The Club</a></li>
      <li class="last leaf"><a href="http://login.com" class="fa fa-user">Login</a></li>
    </ul>
  </div>
</div>