<div class="mobile-tune-genie">
  {{> molecules-tune-genie-inline}}
</div>
{{#emergency}}
  {{> molecules-breaking-news}}
{{/emergency}}
<div class="topAds">
  {{> atoms-advertisement-billboard }}
  {{> atoms-advertisement-x10-banner }}
  {{> atoms-advertisement-mobile }}
</div>