<div class="block-user-alert">
  <div class="user-alert">
     <div class="user-alert-close"><a href="javascript:;" rel="107">x</a></div>
     <div class="user-alert-message"><span class="user-label">Breaking News:</span> <p>Foo Fighters to play historic show with Jimmy Page &amp; Robert Plant!</p></div>
  </div>
</div>