<div class="tune-genie-inline">
  <img src="../../../../assets/images/foo-album.jpg" class="tg-thumb" style="display: inline-block;" />
  <div class="tg-details">
    <div class="tg-song-title">Something From Nothing</div>
    <div class="tg-artist">Foo Fighters</div>
  </div>
  <i class="tg-modal-launch"></i>
  <div class="clear"></div>
</div>