<div class="show-item">
  <div class="show-item-left">
    <h4>{{ showTitles }}</h4>
    <span>{{{ showDesc }}}</span>
  </div>
  <div class="show-item-right">
    {{{ mainDesc }}}
  </div>
  <div class="clear"></div>
</div>