<div class="grouping-section">
  <h4>{{ showDay }}</h4>
  {{#showItems}}
    <div class="grouping-section-item">
      <div class="show-time">{{ showTime }}</div>
      <div class="show-desc"><a href="">{{{ showDesc }}}</a></div>
      <div class="clear"></div>
    </div>
  {{/showItems}}
</div>