<div class="text-center">
  <div class="item-list">
    <ul class="pagination pager">
      <li class="pager-first first"><a title="Go to first page" href="#">« first</a></li>
      <li class="pager-previous"><a title="Go to previous page" href="#">‹ previous</a></li>
      <li class="pager-ellipsis">…</li>
      <li class="pager-item"><a title="Go to page 2" href="#">2</a></li>
      <li class="pager-item"><a title="Go to page 3" href="#">3</a></li>
      <li class="pager-item"><a title="Go to page 4" href="#">4</a></li>
      <li class="pager-item"><a title="Go to page 5" href="#">5</a></li>
      <li class="pager-current active"><span>6</span></li>
      <li class="pager-ellipsis">…</li>
      <li class="pager-next"><a title="Go to next page" href="#">next ›</a></li>
      <li class="pager-last last"><a title="Go to last page" href="#">last »</a></li>
    </ul>
  </div>
</div>