<div class="pagination-simple">
  <div class="pagination-inner">
    <div class="pagination-newer"><a href="">Newer</a></div>
    <div class="pagination-older"><a href="">Older</a></div>
    <div class="clear"></div>
  </div>
</div>