<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-550346e37c65090e" async="async"></script>
{{#headerSmall}}
  {{> organisms-site-header-top}}
{{/headerSmall}}
{{#headerLarge}}
  {{> organisms-site-header-top-large}}
{{/headerLarge}}
<div id="globalWrapper" class="homepage">
  {{> organisms-page-top}}
  <div id="container" class="container">
    <div class="container-inner">
      <section id="content" class="row">
        <div class="full-hero">
          <div class="col-lg-12">
            {{#fullHero}}
              {{> molecules-hero-box}}
            {{/fullHero}}
          </div>
        </div>
        <div class="content contentLeft col-xs-12 col-sm-8">
          <div class="row">
            <div class="col-md-12 radix-layouts-contentheader panel-panel">
              <div class="panel-panel-inner">
                {{#slideshow}}
                  {{> molecules-slideshow}}
                {{/slideshow}}
                <div class="panel-pane">
                  {{#c2aBetaTop}}
                    {{> molecules-c2a-box}}
                  {{/c2aBetaTop}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 radix-layouts-contentcolumn1 panel-panel">
              <div class="panel-panel-inner">
                {{> molecules-c2a-box-alpha}}
                <div class="panel-pane">
                  {{#c2aAlphaMiddle}}
                    {{> molecules-c2a-box}}
                  {{/c2aAlphaMiddle}}
                </div>
              </div>
            </div>
            <div class="col-sm-6 radix-layouts-contentcolumn2 panel-panel">
              <div class="panel-panel-inner">
                <div class="panel-pane">
                  {{#c2aAlphaMiddle}}
                    {{> molecules-c2a-box}}
                  {{/c2aAlphaMiddle}}
                </div>
                {{> molecules-c2a-box-alpha}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 radix-layouts-contentfullwidth panel-panel">
              <div class="panel-panel-inner">
                <div class="panel-pane">
                  {{#c2aBetaSide}}
                    {{> molecules-c2a-box}}
                  {{/c2aBetaSide}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 radix-layouts-contentcolumn1 lowercolumn panel-panel">
              <div class="panel-panel-inner">
                {{> molecules-c2a-box-alpha}}
                <div class="panel-pane">
                  {{#c2aAlphaMiddle}}
                    {{> molecules-c2a-box}}
                  {{/c2aAlphaMiddle}}
                </div>
                {{#link-list-default}}
                  {{> molecules-link-listing}}
                {{/link-list-default}}
                <div class="panel-pane">
                  {{#c2aAlphaMiddle}}
                    {{> molecules-c2a-box}}
                  {{/c2aAlphaMiddle}}
                </div>
              </div>
            </div>
            <div class="col-sm-6 radix-layouts-contentcolumn2 lowercolumn panel-panel">
              <div class="panel-panel-inner">
                <div class="panel-pane">
                  {{#c2aAlphaMiddle}}
                    {{> molecules-c2a-box}}
                  {{/c2aAlphaMiddle}}
                </div>
                {{> molecules-c2a-box-alpha}}
                <div class="panel-pane">
                  {{#c2aAlphaMiddle}}
                    {{> molecules-c2a-box}}
                  {{/c2aAlphaMiddle}}
                </div>
                {{> molecules-c2a-box-alpha}}
              </div>
            </div>
          </div>
        </div>
        <div class="content contentRight col-xs-12 col-sm-4">
          <div class="panel-panel-inner">
            {{> molecules-c2a-box-gamma}}
            {{> molecules-on-air-now}}
            {{> molecules-ad-x20}}
            {{> molecules-ad-x21}}
            <div class="panel-pane">
              {{#c2aAlphaMiddle}}
                {{> molecules-c2a-box}}
              {{/c2aAlphaMiddle}}
            </div>
            {{> molecules-latest-content-thumb}}
            <div class="panel-pane">
              {{#c2aAlphaMiddle}}
                {{> molecules-c2a-box}}
              {{/c2aAlphaMiddle}}
            </div>
            {{> molecules-upcoming-events}}
            <div class="panel-pane">
              {{#c2aAlphaMiddle}}
                {{> molecules-c2a-box}}
              {{/c2aAlphaMiddle}}
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  {{> organisms-footer}}
</div>
