<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-550346e37c65090e" async="async"></script>
{{#headerSmall}}
  {{> organisms-site-header-top}}
{{/headerSmall}}
{{#headerLarge}}
  {{> organisms-site-header-top-large}}
{{/headerLarge}}
<div id="globalWrapper" class="shows-page">
  {{> organisms-page-top}}
  <div id="container" class="container">
    <div class="container-inner">
      <section id="content" class="row">
        <div class="full-hero">
          <div class="col-lg-12">
            {{#fullHero}}
              {{> molecules-hero-box}}
            {{/fullHero}}
          </div>
        </div>
        <div class="content contentLeft col-xs-12 col-sm-7 col-md-8">
          <div class="content-inner">
            {{> molecules-header-group}}

            {{{ placeholderContent }}}

            {{#featuredShows}}
              {{> molecules-show-item}}
            {{/featuredShows}}

            <h3 class="section">Full Schedule</h3>
            <div class="view-full-schedule">
              {{#showSchedule}}
                {{> molecules-show-day}}
              {{/showSchedule}}
            </div>
          </div>
        </div>
        <div class="sidebar sidebarRight col-xs-12 col-sm-5 col-md-4">
          <div class="sidebar-inner">
            {{> organisms-sidebar-on-air-schedule}}
          </div>
        </div>
      </section>
    </div>
  </div>
  {{> organisms-footer}}
</div>