<div class="widget widget--fit widget--c2aBox{{#tallWidget}} widget--c2aBoxTall{{/tallWidget}}">
  <a href="{{ url }}">
    <img src="{{ img }}" alt="" class="widget--c2aBox-image" />
    <div class="widget--c2aBox-caption">
      {{ caption }}
    </div>
  </a>
  <div class="widget--c2aBox-meta">
    <div class="widget--c2aBox-meta-type">{{ type }}</div>
    <div class="widget--c2aBox-meta-social widget--c2aBox-meta-social--fb">{{ fb }}</div> 
    <div class="widget--c2aBox-meta-social widget--c2aBox-meta-social--tw">{{ tw }}</div> 
  </div>
</div>