<div class="panel-pane">
  <div class="widget widget--fit widget--heroBox size-{{ size }}">
    <div class="widget--heroBox-title position-{{ position }}">
      {{#title}}<h1>{{ title }}</h1>{{/title}}
      {{#subtitle}}<h2>{{ subtitle }}</h2>{{/subtitle}}
    </div>
  </div>
</div>