<div class="site-search">
  <form action="" method="post" class="inline-form search-form a-searchBar">
    <input type="search" placeholder="Search" class="search-field" />
    <input type="submit" value="Go" class="search-submit" />
  </form>
</div>
