<div class="field field-name-body field-type-text-with-summary field-label-hidden">
  <div class="field-items">
    <div class="field-item even" property="content:encoded">
      {{{ galleryDescription }}}
    </div>
  </div>
</div>