<div class="panel-pane pane-views-panes pane-blog-byline-panel-pane-1">
  <div class="pane-content">
    <div class="view view-blog-byline view-id-blog_byline view-display-id-panel_pane_1 view-dom-id-681180bfb08e11b63e646feb53f1ade7">
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

          <div class="views-field views-field-field-cover-image">
            <div class="field-content">
              <img class="byline-thumbnail" typeof="foaf:Image" src="http://entercom.dev/sites/default/files/styles/byline_thumbnail/public/test-show.jpg?itok=qqLk6VTt">
            </div>
          </div>

          <div class="views-field views-field-title-1">
            <span class="field-content"><a href="#">{{ blog }}</a></span>
          </div>

          <div class="views-field views-field-field-byline">
            <div class="field-content">Pepper</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>