<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8 lte9 lte8 {{ htmlClass }}" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9 {{ htmlClass }}" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="{{ htmlClass }}" lang="en"> <!--<![endif]-->
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

    <!-- start:headCSS -->
    <link rel="stylesheet" href="../../../../assets/stylesheets/screen.css" media="all" />
    <!-- end:headCSS -->

    <link rel="stylesheet" href="../../../../includes/jplayer-theme/jplayer.css" media="all" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->
	
	</head>
	<body class="{{ bodyClass }}{{#headerLarge}} header-large{{/headerLarge}}">
		