<div class="social-media-icons">
  <a href="#"><img src="../../../../assets/images/fb.png"/></a>
  <a href="#"><img src="../../../../assets/images/twitter.png"/></a>
  <a href="#"><img src="../../../../assets/images/g-plus.png"/></a>
  <a href="#"><img src="../../../../assets/images/instagram.png"/></a>
  <a href="#"><img src="../../../../assets/images/youtube.png"/></a>
  <a href="#"><img src="../../../../assets/images/email-icon.png"/></a>
</div>
