<div class="download-app-buttons">
  <a href="#"><img src="../../../../assets/images/iphone-download-icon.png" alt="" /></a>
  <a href="#"><img src="../../../../assets/images/android-download-icon.png" alt="" /></a>
</div>